.about {
  margin-bottom: 20px;
  width: 100%;
}

a svg:hover {
  fill: #007FC0;
}

.card {
  margin-bottom: 20px; 
}

.color:hover {
  color: #FFFFFF !important;
}

#dev:hover {
  color: #007FC0;
}

/* .container:hover .image {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
} */

img {
  width: 100%;
}


.logo {
  animation: float 5s infinite;
  width: 100%;
}

@keyframes float {
	0% {
		transform: translatey(-10px);
  }
    
	50% {
    transform: translatey(0px);
  }
  
	100% {
		transform: translatey(-10px);
	}
}

.padding {
  padding: 50px;  
}

#photographer:hover {
  color: #33BEB7;
}

#student:hover {
  color: #4b2e83;
}

.resume {
  margin-top: 10px;
  width: 40px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.text {
  font-size: 16px;
  padding: 16px 32px;
  overflow: hidden;
}

@media (min-width: 576px) {
  .fix {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .about {
    width: 60%;
  }

  .fix2 {
    text-align: right;
  }
}