.about {
  margin-bottom: 20px;
  width: 100%;
}

.card {
  margin-bottom: 20px; 
}

.chromaticPreview div img {
  width: 100%;
}

.color:hover {
  color: #FFFFFF !important;
}

#dev:hover {
  color: #007FC0 !important;
}

/* .container:hover .image {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
} */

.entry {
  padding: 10px; 
  height: fit-content; 
  border: 1px solid rgba(0, 0, 0, .1);
  background-Color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

#favicon {
  width: 40px;
}

h5 {
  font-style: italic;
}

.icon {
  width: 40px;
}

.iconDev:hover {
  fill: #007FC0;
}

.iconPhoto:hover {
  fill: #33BEB7;
}

.image {
  width: 100%;
}

.inner {
  padding: 10px; 
  height: fit-content; 
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.innerText, .outer {
  margin-right: 5%; 
}

.logo {
  animation: float 5s infinite;
}

@keyframes float {
	0% {
		transform: translatey(-10px);
  }
    
	50% {
    transform: translatey(0px);
  }
  
	100% {
		transform: translatey(-10px);
	}
}

.outer {
  padding: 5px;
  margin-bottom: 10px;
}

.padding {
  padding: 50px;  
}

#photographer:hover {
  color: #33BEB7 !important;
}

.projectBanner {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
}

.projectBanner img {
  display: inline-block;
  width: 15%;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.text {
  font-size: 16px;
  text-align: center;
  overflow: hidden;
}

@media (min-width: 576px) {
  .fix {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .about {
    width: 60%;
  }

  .fix2, .iam {
    text-align: right;
  }
}