.about {
  margin-bottom: 20px;
  width: 100%;
}

.card {
  margin-bottom: 20px; 
}

.chromaticPreview div img {
  width: 100%;
}

.color:hover {
  color: #101922 !important;
}

#dev:hover {
  color: #00F2FF !important;
}

/* .container:hover .image {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
} */

.entry {
  padding: 10px; 
  height: fit-content; 
  border: 1px solid rgba(0, 0, 0, .1);
  background-Color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

#favicon {
  width: 40px;
}

h5 {
  font-style: italic;
}

.icon {
  margin: 15pt 0 0 15pt;
  width: 40px;
}

.iconDev:hover {
  fill: #FFDC00;
}

.iconLinked:hover {
  fill: #00F2FF;
}

.iconPhoto:hover {
  fill: #FF00FF;
}

.image {
  width: 100%;
}

.inner {
  padding: 10px; 
  height: fit-content; 
  border: 1px solid rgba(0, 0, 0, .1);
  /* border-radius: 20px; */
}

.logo {
  animation: float 5s infinite;
}

@keyframes float {
	0% {
		transform: translatey(-10px);
  }
    
	50% {
    transform: translatey(0px);
  }
  
	100% {
		transform: translatey(-10px);
	}
}

.name {
  color: black;
  font-size: 65pt;
}

.name:hover {
  color: black;
  text-decoration: none;
}

.outer {
  padding: 5px;
  margin-bottom: 10px;
}

.padding {
  padding: 50px;  
}

#photographer:hover {
  color: #FFDC00 !important;
}

.projectBanner {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
}

.projectBanner img {
  display: inline-block;
  width: 15%;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.text {
  font-size: 16px;
  text-align: center;
  overflow: hidden;
}

@media (min-width: 576px) {
  .fix {
    text-align: right;
  }

  .name {
    font-size: 75pt;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .fix2, .iam {
    text-align: right;
  }
}

.container {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 55, 255, .7);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
